#panel
{
    width:80%;
    text-align: center;
}
  .button {
  background-color: #7851a9; /* Green */
  border: none;
  color: white;
  padding: 22px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
}
